/* schermi grandi */

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f2f2f2;
}

header {
    width: 100%;
    height: 100px;
}

main {
    width: 100vw;
    height: 100%;
    background-color: #f1f1f1;
}

li:hover {
    cursor: pointer;
}

.website-logo {
    text-align: left;
    padding-left: 20px;
}

.website-logo img {
    width: 130px;
    vertical-align: middle;
}

.titlebar i {
    visibility: hidden;
}

.socialbar nav {
    text-align: right;
    line-height: 100px;
}

.socialbar ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 7px;
    font-weight: bolder;
    height: 99px;
    font-size: 13px;
}

.socialbar ul li:not(.active) {
    color: #cccccc;
}

.socialbar ul li:not(.active):hover {
    color: #ffb3b3;
    border-bottom: 2px solid #ffb3b3;
}

.active {
    color: #ff6666;
    border-bottom: 2px solid #ff6666;
}

.emailrow {
    height: 500px;
    background-color: white;
    border-radius: 15px;
}

.menubar {
    text-align: left;
}
.menubar ul li {
    text-align: left;
    list-style-type: none;
    line-height: 30px;
}

.menubar button {
    padding: 15px 25px 15px 25px;
    background-color: #f2f2f2;
    border: none;
    font-size: 23px;
    border-radius: 23px;
    margin: 20px 0 20px 20px;
    cursor: pointer;
}

.menubar button:hover {
    background-color: #e6e6e6;
}

.menubar button:hover {
    color: white;
}

.menubar button p {
    display: inline-block;
    color: #737373;
}

.menubar button i {
    color: rgb(131,58,180);
    color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.menubar nav {
    padding-left: 20px;
    color: #595959;
}

.activemenu {
    color: #ff6666;
}

.menubar nav ul li:not(.activemenu):hover {
    color: #ffb3b3;
}

.titolo_mail {
    width: 200px;
    display: inline-block;
    padding-left: 15px;
}

.corpo_mail {
    width: 400px;
    display: inline-block;
}

.emailbar {
    height: 100%;
    background-color: #f2f2f2;
    overflow: scroll;
    box-shadow: 0 0 20px lightgrey;
}

.email {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    border-bottom: 1px solid #a6a6a6;
}

.letta {
    background-color: #f2f2f2;
}

.non_letta {
    background-color: #d9d9d9;
}


.iconsbar nav {
    padding: 20px 0 20px 0;
    font-size: 35px;
}

.iconsbar nav ul li {
    list-style-type: none;
    padding: 10px 0 10px 0;
}

.iconsbar ul li:hover {
    color: #ff6666;
}

/* cellulari */

@media screen and (max-width: 767px) {
    .website-logo {
        text-align: center;
        background-color: #f2f2f2;
        padding-left: 0;
    }

    nav {
        display: none;
    }

    .titlebar {
        position: relative;
    }

    .titlebar i {
        visibility: visible;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        color: #cccccc;
        font-size: 35px;
    }

    .titlebar i:hover {
        color: #d9d9d9;
    }

    .socialbar {
        display: none;
    }
}
